body {
    font-family: Open Sans;
}

#main-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    background-color: aliceblue;
}

#top {
    background-color: antiquewhite;
}

#logo-div {
    background-color: bisque;
    /*background-image: url("https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-sva-scholarship-20.png"); 
    background-repeat: no-repeat; 
    width: 50%;
    height: 50%; */
}

#logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 50%;
    max-height: 50%;
      /*
    aspect-ratio: auto 272 / 92;
  */
}

/*
#logo-image {
    height: 30%;
    width: 30%;
    transform: scale(.2);
    background-color: blueviolet;
    /*text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: bisque;
    */
}

#mid {
    background-color: aquamarine;
}

#bottom {
    background-color: azure;
}

#footer {
    background-color: beige;
}





#search-bar {
    /*width: 70%;*/
    /*including width doesn't follow to justification*/
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color:aquamarine;
    /*display: block;
    justify-content: center;*/
}

#search-bar:hover{
    animation-name: search-shadow;
    animation-duration: 70ms;
    animation-fill-mode: forwards;
}

@keyframes search-shadow {
    100% {
        box-shadow: 5px 10px #888888;
    }
}

input {
    width: 500px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 5%;
}

#buttons {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    justify-content: center;
    font-size: 14px;
}

#buttons:hover {
    animation-name: button-border;
    animation-duration: 70ms;
    animation-fill-mode: forwards;
}

@keyframes button-border {
    100% {
        border-color: black;
        border-width: 5px;
    }
}

#google-search {
    margin: 10px;
    border-color: black;
    background-color: #f2f2f2;
    padding: 10px 10px;
    border-radius: 5%;
}

#feeling-lucky {
    margin: 10px;
    border-color: black;
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 5%;
}